body {
  background-image: url("bg4.jpg");
  margin: 0px;
  padding: 0px;
  height: 100vh;

  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box !important;
}
.name,
.totalScoreCSS,
.input-score {
  text-align: center;
}
.row {
  margin-left: auto !important;
  --bs-gutter-x: 0px !important;
}
h2 {
  text-align: center;
  /* font-family: 'Courier New', Courier, monospace;
    font-weight: 600px; */
  font-size: 35px;
  color: white;
}
.content {
  padding: 8px 0px;
  height: 100%; /* Set a fixed height for the element */
  overflow-y: scroll; /* Enable vertical scrolling */
  scroll-behavior: smooth; /* Enable smooth scrolling behavior */
}
.content::-webkit-scrollbar {
  width: 0.5em; /* Adjust the width as needed */
  background-color: transparent; /* Set the background color to match the container */
}
.updateCSS {
  width: 100%;
  margin: 10px 0px;
  border-radius: 20px;
  border: none;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: 600px;
}
.name {
  width: 100%;
  text-align: center;
  border-radius: 20px;
  font-size: 20px;
  color: white;
  font-weight: 600;
  border: 0px;
  position: sticky;
  top: 0px;
}
.input-score {
  border-radius: 15px;
  height: 30px;
  width: 100%;
}
.player {
  border: 10px;
  background-color: gray;
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
.reload {
  background-color: red;
  height: 30px;
}
.col-css1 {
  padding-right: 0px !important;
}
.col-css2 {
  padding-left: 0px !important;
}
#btn1 {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#btn2 {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
